<html>

{% extends 'JavaApp/base-bootstrap.html' %}

{% block topbar %}
<center><h1>About JavaApp!</h1></center>
{% endblock %}

{% block content %}
<center>
The aim of this application is to allow users to learn and practice the basic Java concepts and syntax. In order to do this, I have created the following activities:<br><br>

<li> Fill in the blanks</li>
<li> Multiple choice to predict the behaviour of the code</li>
<li> Write your own code</li>
<li> Fix the broken code</li>
<li> Video tutorials</li>
<li> Tutorials to go over the basics</li><br>

Through these interactive activities, we hope that this will enhance the students ability to program using Java.<br>

Any issues or questions, please contact <a href="mailto:0902059k@student.gla.ac.uk" target="_top">Nicole Kearns</a> or  <a href="mailto:jeremy.singer@glasgow.ac.uk" target="_top">Jeremy Singer</a>
</center>


{% endblock %}

</html>
