<!DOCTYPE html>
<html>

{% extends 'JavaApp/base-bootstrap.html' %}

{% block topbar %}
<h1> Multiple Choice Questions</h1>
{% endblock %}

{% block content %}

{% for question in questions %}
	<div class="well">
		<label>{{question|linebreaks}}</label><br>
		<!-- List the answers-->
		<input type="radio" value="{{question.posAns1}}" name="ans">{{question.posAns1}}<br>
		<input type="radio" value="{{question.posAns2}}" name="ans">{{question.posAns2}}<br>
		<input type="radio" value="{{question.posAns3}}" name="ans">{{question.posAns3}}<br>
		<input type="radio" value="{{question.posAns4}}" name="ans">{{question.posAns4}}<br>
	</div>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

	<script>
	$(document).ready(function() {
                $('#{{question.id}}ans').click(function(){
			// send the answer to get checked
			$.get('validate_answer/{{question.id}}/'+$('input[name=ans]:checked').val(), function(data){
				$('#{{question.id}}ans').html(data);
				var i = document.getElementById('{{question.id}}ans').innerHTML;
				// if answer correct change background to green
				if (i=="Your answer is correct!"){
					$('#{{question.id}}ans').css("background-color","lime");
					$('#{{question.id}}ans').css("font-color","black");
                               	}
				// if answer incorrect change background to red
                              	if (i=="Your answer is incorrect!"){
                                        $('#{{question.id}}ans').css("background-color","red");
					$('#{{question.id}}ans').css("font-color","white");

                                }
			
			});	
		});
	});	
	</script>
	<!-- click to check and displays answer -->
	<a id="{{question.id}}ans" class="btn btn-inverse btn-small">Submit Answer</a><br>

{% endfor %}

{% endblock %}

<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}bootstrap/css/bootstrap.min.css">
<script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
<script src="http://code.jquery.com/jquery.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}bootstrap/js/bootstrap.min.js"></script>


</html>
