<HTML>

{% extends 'JavaApp/base-bootstrap.html' %}

{% block topbar %}

<h1><center> Fill in the Blanks </center></h1>

{% endblock %}

{% block content %}

{% for question in questions %}

<label id="{{question.id}}statement">{{question|linebreaks}}</label><br>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

<script>

var labelText = $("#{{question.id}}statement").text();
var test1 = "how are you today";
var test = test1.split(" ");
document.write(test);

</script>

{% endfor %}

<center>
<script>
var text=["System.","out.","println","dog","(hello world);"];

var words = ["out.", "System.", "println","class","void","static"];

var match = [];

var j = 0;
for (var i =0; i < text.length; i++)
    for (j = 0; j < words.length; j++)
        if (text[i] == words[j])
            match.push(words[j]);            

for (var s = 0; s < match.length; s++)
    document.write(match[s] + "<br>");

var keyword = Math.floor((Math.random()*match.length)); text[keyword] = "_____"; // replace for other word
var text2 = text.join("");
document.write("<p>" + text2 + " " + "</p>" );
document.write("<br>" + words);
</script>

<form>
Answer: <input type="text" name="answer" id="answerbox"><br>
<input type="button" value="Submit" onclick="printout()">
</form>

<script>

var textbox = document.getElementById('answerbox');

function printout(){
	var answer = textbox.value;
	if (answer == match[keyword]){
		alert("correct");
	}
	else{
		alert("incorrect");
	}
}

</script>
</center>

{% endblock %}

<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}bootstrap/css/bootstrap.min.css">
<script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
<script src="http://code.jquery.com/jquery.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}bootstrap/js/bootstrap.min.js"></script>
</HTML>
