<!DOCTYPE html>

{% extends 'JavaApp/base-bootstrap.html' %}


	{% block topbar %}
        <center><h1>Hello, Java Programmers!</h1>
        <p>This application provides simple activities to allow you to learn and practice Java programming.</p>
        <p><a href='about/' class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a></p></center>
	{% endblock %}


	
	{% block content %}
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Fill in the Blanks</h2>
          <p>Given a small snippet of code, try complete the code by using the syntax and code words to fill in the blank spaces.</p>
          <p><a class="btn btn-default" href="fib/" role="button">Go &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Multiple Choice</h2>
          <p>Given a small snippet of code, predict the behaviour and/or output of the code correctly.</p>
          <p><a class="btn btn-default" href="multChoice2" role="button">Go &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Code your Own</h2>
          <p> Given a simple task description, write some Java code in order to complete the task.</p>
          <p><a class="btn btn-default" href="#" role="button">Go &raquo;</a></p>
        </div>
	</div>
	<div class="row">
        <div class="col-md-4">
          <h2>Videos</h2>
          <p>Some useful video tutorials which may help you.</p>
          <p><a class="btn btn-default" href="vtutorial/" role="button">Go &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Tutorials</h2>
          <p> Go over the basic concepts and syntax.</p>
          <p><a class="btn btn-default" href="tutorial/" role="button">Go &raquo;</a></p>
       </div>
	<div class="col-md-4">
          <h2>Fix the errors</h2>
          <p> Given a piece of code containing errors, amend the code to remove and fix the errors.</p>
          <p><a class="btn btn-default" href="test/" role="button">Go &raquo;</a></p>
       </div>
	</div>

	{% endblock %}	

      <hr>

      <footer>
        <p>&copy; JavaApp</p>
      </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
	<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
	<script src="../../dist/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}bootstrap/css/bootstrap.min.css">
	<script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
	<script src="http://code.jquery.com/jquery.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}bootstrap/js/bootstrap.min.js"></script>
</body>
</html>

