<!DOCTYPE html>
<HTML>
{% extends 'JavaApp/base-bootstrap.html' %}

{% block topbar %}
<h1><center> Fill in the Blanks </center></h1>
{% endblock %}

{% block content %}

<div id="noOfQs" class="ques">{{questions|length}}</div>

<!-- Results will be displayed here-->
<h3><p id="resultArea" align="right"></p></h3>
<center><h3><p id="result"></p></h3></center>

<!-- get all fib questions -->
{% for question in questions %}

	<div class="well">
		<label id="{{question.id}}statement">{{question|linebreaks}}</label>
		<!-- dropdown containing the possible answers for missing word -->
		<form>
		<div class="answer1wrap">
			<select id="{{question.id}}mySelect">
				<option value="Please select an answer"> Please select an answer</option>
				<option value="{{question.posAns1}}">{{question.posAns1}}</option>
				<option value="{{question.posAns4}}">{{question.posAns4}}</option>
				<option value="{{question.posAns2}}">{{question.posAns2}}</option>
				<option value="{{question.posAns3}}">{{question.posAns3}}</option>
			</select>
		</div>
		</form><br>
		<button class="btn btn-default" id="{{question.id}}ans" type="button">Check answers</button>
	</div>

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

	<script>
	
	// When the check answer button is clicked, check answer 
	$('#{{question.id}}ans').click(function(){
		// gets the value of the users selection.
		var select = document.getElementById("{{question.id}}mySelect");
		var answer = select.options[select.selectedIndex].value;
		// check if value selected by user is correct.
		$.get('validate_answer/{{question.id}}/'+answer, function(data){
				$('#{{question.id}}ans').html(data);
				var i = document.getElementById('{{question.id}}ans').innerHTML;
				// if answer correct change background to green
				if (i=="Your answer is correct!"){
					$('#{{question.id}}ans').css("background-color","lime");
					score = score + 10;
					var res = "Your score is: " + score + "/" + totalQuestions*10 + " <br>";
					document.getElementById("resultArea").innerHTML=res;
                               	}
				// if answer incorrect change background to red
                              	if (i=="Your answer is incorrect!"){
                                        $('#{{question.id}}ans').css("background-color","red");
					var res = "Your score is: " + score + "/" + totalQuestions*10 + " <br>";
					document.getElementById("resultArea").innerHTML=res;

                                }
			
			});
	});
</script>

{% endfor %}

<!-- Previous and Next buttons to nav between questions-->
<button type="button" id='prev' class="btn btn-default btn-lg">
  <span class="glyphicon glyphicon-circle-arrow-left"></span> Previous
</button>

<button type="button" id='next' class="btn btn-default btn-lg">
  <span class="glyphicon glyphicon-circle-arrow-right"></span> Next
</button>

<script>

$NoOfQ = $('.ques');
$NoOfQ.hide();
var score = 0;
var totalQuestions = document.getElementById("noOfQs").textContent;
//var totalQuestions = 0;
var currentQuestion = 0;
$questions = $('.well');
$questions.hide();
$($questions.get(currentQuestion)).fadeIn();

// when next button clicked, go to next question.
$('#next').click(function(){
    $($questions.get(currentQuestion)).fadeOut(function(){
        currentQuestion = currentQuestion + 1;
        if(currentQuestion == totalQuestions){
                result();
		$qNoArea.hide();
        }else{
        	$($questions.get(currentQuestion)).fadeIn();
		questionNumber = questionNumber + 1;
		var qNum = "Question " + questionNumber;
		document.getElementById("questionNum").innerHTML=qNum;
        }
    });
});

// when previous button clicked, go back a question.
$('#prev').click(function(){
    $($questions.get(currentQuestion)).fadeOut(function(){
        if(currentQuestion > 0){
		currentQuestion = currentQuestion - 1;
		questionNumber = questionNumber - 1;
		var qNum = "Question " + questionNumber;
		document.getElementById("questionNum").innerHTML=qNum;
		$($questions.get(currentQuestion)).fadeIn();
        }
    });

});

// function to display the results with appropriate message depending on score
function result(){
	var total = totalQuestions*10;
	if ((score/total)*100 <= 50 )
		var msg = "Looks like you need to revise some more";
	if ((score/total)*100 >= 51)
		msg = "Well Done, your on the right track!";
	if (score == total)
		msg = "Well Done, full marks!";
	var res = "Your final score is: " + score + "/" + total + "<br>" + msg;
	document.getElementById("result").innerHTML=res;
}


</script>


{% endblock %}

<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}bootstrap/css/bootstrap.min.css">
<script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
<script src="http://code.jquery.com/jquery.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}bootstrap/js/bootstrap.min.js"></script>
</HTML>
