<!DOCTYPE html>
<html>

{% extends 'JavaApp/base-bootstrap.html' %}

{% block topbar %}
<center><h1>Can You Find The Errors?</h1></center>
{% endblock %}

{% block content %}

<style>
#questionArea { margin-bottom: 10px; }
  [contenteditable="true"] { padding: 10px; outline: 1px solid; }
  [contenteditable="true"]:hover { outline: 1px; }
</style>

{% for question in questions %}

	<div id="questionArea" contenteditable="true">
	<script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
	<pre class="prettyprint">
	<p id="{{question.id}}text">{{question}}</p></pre><br>	
	</div>
	<button class="btn btn-default" id="{{question.id}}submit" type="button">Check answers</button><br><br>

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

	<script>

	$(document).ready(function() {
		$('#{{question.id}}submit').click(function(){
			var textbox = document.getElementById('{{question.id}}text');
			var ans = textbox.innerHTML;
			document.write(ans);
		});
	});



	</script>

{% endfor %}

{% endblock %}

<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}bootstrap/css/bootstrap.min.css">
<script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
<script src="http://code.jquery.com/jquery.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}bootstrap/js/bootstrap.min.js"></script>
</html>
