<!DOCTYPE html>
<html>

{% extends 'JavaApp/base-bootstrap.html' %}

<head>
<script type="text/javascript" src="pdfobject.js"></script>
    <script type="text/javascript">
      window.onload = function (){
        var success = new PDFObject({ url: "/static/{{tut.tutFile}}" }).embed();
      };
    </script>
</head>

{% block topbar %}
<center><h1>Tutorials</h1></center>
{% endblock %}

{% block content %}

{% for tut in tuts %}
	<a id="fname" href="/static/{{tut.tutFile}}">{{tut.tutName}}</a>

<!-- <body>
<embed src="http://moodle2.gla.ac.uk/mod/resource/view.php?id=110771" width="800" height="1000" />
</body> -->

<!-- <iframe src="http://moodle2.gla.ac.uk/mod/resource/view.php?id=110771" style="width:600px; height:500px;">
  <p>Your browser does not support iframes.</p>
</iframe> -->

<body>
    <p>It appears you don't have Adobe Reader or PDF support in this web
    browser. <a href="/static/{{tut.tutFile}}">Click here to download the PDF</a> </p>
</body>

{% endfor %}

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>

var link = $("#fname").attr("href");

</script>

{% endblock %}

<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}bootstrap/css/bootstrap.min.css">
<script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
<script src="http://code.jquery.com/jquery.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}bootstrap/js/bootstrap.min.js"></script>
</html>
