<!DOCTYPE html>
<html>

{% extends 'JavaApp/base-bootstrap.html' %}

{% block topbar %}
<center><h1>Video Tutorials</h1></center>
{% endblock %}

{% block content %}

<body>
<script type="text/javascript">
  document.createElement('video');document.createElement('audio');
</script>
</body>

<center>
<video id="example_video_1" class="video-js vjs-default-skin"
  controls preload="auto" width="640" height="264"
  data-setup='{"example_option":true}'>
 <source src="http://video-js.zencoder.com/oceans-clip.mp4" type='video/mp4' />
</video>
</center>

{% endblock %}

<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}bootstrap/css/bootstrap.min.css">
<script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
<script src="http://code.jquery.com/jquery.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}bootstrap/js/bootstrap.min.js"></script>
</html>
